@font-face {
  font-family: "iconfont"; /* Project id 4945724 */
  src: url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x-:before {
  content: "\e642";
}

.icon-xingming:before {
  content: "\e60e";
}

.icon-chengshi:before {
  content: "\e605";
}

.icon-shoujihaoma:before {
  content: "\e636";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-guanbi-quxiao:before {
  content: "\e61f";
}

.icon-gantanhao-yuankuang:before {
  content: "\e8ec";
}

.icon-xiajiantou:before {
  content: "\e60c";
}

.icon-wushuju:before {
  content: "\e666";
}

.icon-weizhi:before {
  content: "\e603";
}

.icon-shimingrenzheng:before {
  content: "\e624";
}

.icon-tianchongxing-:before {
  content: "\e63a";
}

.icon-pingguoshouji:before {
  content: "\e611";
}

.icon-icon_duihao-mian:before {
  content: "\e63d";
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-naozhong:before {
  content: "\e890";
}

.icon-changjianwenti:before {
  content: "\e67b";
}

.icon-kehuguanli:before {
  content: "\e686";
}

.icon-nuokuaqiuduanjiexiouyuanhuanchan_GRZX_FWPI:before {
  content: "\e610";
}

.icon-jiedanshezhi:before {
  content: "\e763";
}

.icon-add-s:before {
  content: "\e637";
}

.icon-shipin:before {
  content: "\e61e";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-daohang:before {
  content: "\e651";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-gaojishaixuan:before {
  content: "\e657";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-xingxing1:before {
  content: "\e62b";
}

.icon-gongneng:before {
  content: "\e84a";
}

.icon-bangzhuzhongxin:before {
  content: "\e633";
}

.icon-yinhangqia:before {
  content: "\e680";
}

.icon-jiankangzhengming:before {
  content: "\e72b";
}

.icon-gengduo:before {
  content: "\e612";
}

.icon-guanyu_o:before {
  content: "\eb77";
}

.icon-zhuanyejineng:before {
  content: "\e60a";
}

.icon-tianxie:before {
  content: "\ec88";
}

.icon-jinengrenzheng:before {
  content: "\e62d";
}

.icon-shezhi1:before {
  content: "\e60f";
}

.icon-fangxiang-xiangxia:before {
  content: "\e614";
}

.icon-fangxiang-xiangyou:before {
  content: "\e615";
}

.icon-fuwuguanli:before {
  content: "\e661";
}

.icon-xingxing:before {
  content: "\e859";
}

.icon-gerenxinxi:before {
  content: "\e703";
}

.icon-tixian1:before {
  content: "\e69e";
}

.icon-location:before {
  content: "\e609";
}

.icon-rili:before {
  content: "\e68b";
}

.icon-xiaoxi:before {
  content: "\e616";
}

.icon-header-07:before {
  content: "\e647";
}

.icon-pingjiaguanli:before {
  content: "\e654";
}

.icon-shanchu:before {
  content: "\e602";
}

.icon-a-zaixianxuexikaoshipeixunkecheng-60:before {
  content: "\e69b";
}

.icon-jiaotongbutie:before {
  content: "\e7de";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-lishijilu:before {
  content: "\e685";
}

.icon-shourumingxi:before {
  content: "\e626";
}

.icon-fuwushouye-baoxianfuwu:before {
  content: "\e749";
}

.icon-group48:before {
  content: "\e638";
}

.icon-tixian:before {
  content: "\e649";
}

.icon-yinhangka:before {
  content: "\e8bf";
}

.icon-pinpai:before {
  content: "\e639";
}

.icon-kehu:before {
  content: "\e613";
}

.icon-iconfonttuijianren:before {
  content: "\e62a";
}

.icon-shenfenzhenghao:before {
  content: "\e872";
}

.icon-31dingwei:before {
  content: "\e601";
}

.icon-dianhua:before {
  content: "\e862";
}

.icon-yezi02:before {
  content: "\e943";
}

.icon-dianpu:before {
  content: "\e60d";
}

.icon-zengchang:before {
  content: "\e600";
}

.icon-huojian:before {
  content: "\e721";
}

.icon-fuzhi:before {
  content: "\e697";
}

